# for Loops

So you know how to make a program repeat a task. Oftentimes, we want a program to complete something a fixed number of times. We do this so often that we have invented another type of loop in python: the for-loop.

The syntax is like this:

    for iteration in iterable:
        body         
        # do something with the variable 'iteration'

Perhaps the most common iterable you will use, is a range object. You've probably seen it already by now. The range() function can take a variable number of inputs.

1 inputs

    range(stop)               # start is assumed to be 0. step is assumed to be 1.

2 inputs

    range(start, stop)        # step is assumed to be 1
    
3 inputs

    range(start, stop, step)  
    
    
Let's start by making a range object.

## The range() function

Start! Stop! Step!

In [2]:
range(10)

range(0, 10)

In [5]:
range(5, 12)

range(5, 12)

In [3]:
range(2, 25, 2)

range(2, 25, 2)

On its own, it doesn't appear useful. It's most useful inside a for-loop.

In [6]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
for i in range(5, 12):
    print(i)

5
6
7
8
9
10
11

In [8]:
for i in range(2, 25, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24

Using a range object, we can print every element of a list!

In [2]:
array = list("Kim & Colin!")
array

['K', 'i', 'm', ' ', '&', ' ', 'C', 'o', 'l', 'i', 'n', '!']

Notice how converting a string into a list converts it character by character

In [3]:
n = len(array)

for i in range(n):
    char = array[i]
    print(array[i])

K
i
m

&

C
o
l
i
n
!

Notice that I **could** accomplish the above without a loop, but it would make my program:

    1.) Longer
    2.) Less Flexible

## lists are also iterable

This makes iterating over lists even easier than before!

In [26]:
array

['K', 'i', 'm', ' ', '&', ' ', 'C', 'o', 'l', 'i', 'n', '!']

In [27]:
for char in array:
    print(char)

K
i
m

&

C
o
l
i
n
!

In [28]:
array = [291841234, 12341234, 12341234, 21341234123, 14234123, 41245634, 734563645, 62]

for num in array:
    print(num)

291841234
12341234
12341234
21341234123
14234123
41245634
734563645
62

## Dictionaries are iterable

In [29]:
headsOfHouses = {
  "All Souls": "Warden John Vickers",
  "Balliol": "Master Helen Ghosh",
  "Brasenose": "Principal John Bowers",
  "Christ Church": "Dean Martyn Percy",
  "Corpus Christi": "President Steven Cowley",
  "Exeter": "Rector Rick Trainor",
  "Green Templeton": "Principal Denise Lievesley",
  "Harris Manchester": "Principal Ralph Waller",
  "Hertford": "Principal Will Hutton"
}

In [30]:
for college in headsOfHouses:
    print(college)

All Souls
Balliol
Brasenose
Christ Church
Corpus Christi
Exeter
Green Templeton
Harris Manchester
Hertford

Notice that when I iterate over a dictionary, I iterate over its keys. To iterate over its values, I acces the values using:

    dict.values()

In [31]:
for head in headsOfHouses.values():
    print(head)

Warden John Vickers
Master Helen Ghosh
Principal John Bowers
Dean Martyn Percy
President Steven Cowley
Rector Rick Trainor
Principal Denise Lievesley
Principal Ralph Waller
Principal Will Hutton

You could, of course have accessed the *values* through the *keys* anyways:

In [34]:
for college in headsOfHouses:
    head = headsOfHouses[college]
    print(college, '\t\t\t' ,head)   # \t for tab!

All Souls 			 Warden John Vickers
Balliol 			 Master Helen Ghosh
Brasenose 			 Principal John Bowers
Christ Church 			 Dean Martyn Percy
Corpus Christi 			 President Steven Cowley
Exeter 			 Rector Rick Trainor
Green Templeton 			 Principal Denise Lievesley
Harris Manchester 			 Principal Ralph Waller
Hertford 			 Principal Will Hutton

## Strings are iterable

In [36]:
for char in "Hello fren":
    print(char)

H
e
l
l
o

f
r
e
n

In [38]:
phrase = "Hello fren"
Ls_taken = 0
for char in phrase:
    if char.lower() == 'l':
        Ls_taken += 1
phrase = phrase.replace('l', '') 
phrase = phrase.replace('L', '') 
print(Ls_taken)
print(phrase)

2
Heo fren

What does the above program do to the string "phrase"? Try changing the string to see what it does!

# Exercise 1: list and string exercises

Print each college in the colleges list on separate lines with a for-loop

In [35]:
colleges = list(headsOfHouses.keys())
colleges

['All Souls',
 'Balliol',
 'Brasenose',
 'Christ Church',
 'Corpus Christi',
 'Exeter',
 'Green Templeton',
 'Harris Manchester',
 'Hertford']

print each college in the colleges list on separate lines, **but backwards, this time!**

Hint: there should be multiple ways to do this!

sWaP cAsE

For this challenge, you should be remind yourself of 3 methods:

    str.upper()
    str.lower()
    str.join(list)
    
```str.upper()``` returns str but as uppercase

```str.lower()``` returns str but as lowercase

```str.join(list)``` returns a joined list of strings with str in between:
    
    list[0] + str + list[1] + str ... + str + list[n]. 
    

Challenge Statement:

Take a string and turn it into sWaP CaSe!

# Exercise 2: Dictionaries