# What is pandas?

In [2]:
import pandas as pd
print(pd.__doc__)

pandas - a powerful data analysis and manipulation library for Python
=====================================================================

See http://pandas.pydata.org/ for full documentation. Otherwise, see the
docstrings of the various objects in the pandas namespace:

Series
DataFrame
Panel
Index
DatetimeIndex
HDFStore
bdate_range
date_range
read_csv
read_fwf
read_table
ols

# The most important thing: DataFrames

In [3]:
namesAges = [
    ["Sally", 6], 
    ["Joe", 10],
    ["John", 7],
    ["Kelly", 8]
] # just a list of lists

df = pd.DataFrame(
    data = namesAges, 
    columns = ["Names", "Ages"]
)

In [4]:
df

   Names  Ages
0  Sally     6
1    Joe    10
2   John     7
3  Kelly     8

# Looking inside the DataFrame

## Rows and columns

In [5]:
df.columns

Index(['Names', 'Ages'], dtype='object')

In [6]:
df.index

RangeIndex(start=0, stop=4, step=1)

## Iterating

In [7]:
for column in df:
    print(column)

Names
Ages

## Indexing

In [8]:
df["Names"]

0    Sally
1      Joe
2     John
3    Kelly
Name: Names, dtype: object

In [9]:
df["Ages"]

0     6
1    10
2     7
3     8
Name: Ages, dtype: int64

## df.loc[row, col]

Accesses rows according to the ```df.index``` and columns according to ```df.columns```

In [10]:
df.loc[1]

Names    Joe
Ages      10
Name: 1, dtype: object

In [11]:
df.loc[2]

Names    John
Ages        7
Name: 2, dtype: object

In [12]:
df.loc[2, "Names"]

'John'

In [13]:
df.loc[2, "Ages"]

7

## df.iloc[rowInt, columnInt]

Same as loc, but it's all integer indexing.

In [14]:
df.iloc[2, 0]

'John'

In [15]:
df.iloc[2, 1]

7

## df.shape and size

In [16]:
df.shape

(4, 2)

In [17]:
df.size

8

# Changing values in a pd.DataFrame

In [18]:
df.loc[2, "Ages"]

7

In [19]:
df.loc[2, "Ages"] += 10

In [20]:
df

   Names  Ages
0  Sally     6
1    Joe    10
2   John    17
3  Kelly     8

In [21]:
df.insert(loc = 2, value = ["Math", "Music", "Science", "Geography"], column = "Favorite Class")

In [22]:
df

   Names  Ages Favorite Class
0  Sally     6           Math
1    Joe    10          Music
2   John    17        Science
3  Kelly     8      Geography

# Converting into np.arrays

In [39]:
df.values

array([['Sally', 6, 'Math'],
       ['Joe', 10, 'Music'],
       ['John', 17, 'Science'],
       ['Kelly', 8, 'Geography']], dtype=object)

In [40]:
df["Names"].values

array(['Sally', 'Joe', 'John', 'Kelly'], dtype=object)

## Saving as csv

In [23]:
df.to_csv("NamesAndAges.csv")

In [24]:
import os
os.listdir('.') # Can you find it in your current directory?

['.ipynb_checkpoints',
 'boston.csv',
 'Introduction to Numpy.ipynb',
 'Keras.ipynb',
 'Matplotlib.ipynb',
 'NamesAndAges.csv',
 'pandas.ipynb',
 'Sklearn.ipynb',
 'Slides.pptx']

# Opening csvs!

In [25]:
df2 = pd.read_csv("boston.csv") # This csv is in the current folder, so it's just that easy to open!
df2.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PT,B,LSTAT,MV
0,0.00632,18.0,2.31,0,0.538,6.575,65.199997,4.0900,1,296,15.300000,396.899994,4.98,24.000000
1,0.02731,0.0,7.07,0,0.469,6.421,78.900002,4.9671,2,242,17.799999,396.899994,9.14,21.600000
2,0.02729,0.0,7.07,0,0.469,7.185,61.099998,4.9671,2,242,17.799999,392.829987,4.03,34.700001
3,0.03237,0.0,2.18,0,0.458,6.998,45.799999,6.0622,3,222,18.700001,394.630005,2.94,33.400002
4,0.06905,0.0,2.18,0,0.458,7.147,54.200001,6.0622,3,222,18.700001,396.899994,5.33,36.200001

The ```df.head()``` method returns the top 5 rows of the dataframe, so we can have a look at the dataset without having to scroll very much

# Some tougher stuff

```df.sort()```

In [26]:
df2.sort("CRIM", ascending = True)

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  """Entry point for launching an IPython kernel.

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PT,B,LSTAT,MV
0,0.006320,18.0,2.31,0,0.5380,6.575,65.199997,4.0900,1,296,15.300000,396.899994,4.980000,24.000000
284,0.009060,90.0,2.97,0,0.4000,7.088,20.799999,7.3073,1,285,15.300000,394.720001,7.850000,32.200001
285,0.010960,55.0,2.25,0,0.3890,6.453,31.900000,7.3073,1,300,15.300000,394.720001,8.230000,22.000000
341,0.013010,35.0,1.52,0,0.4420,7.241,49.299999,7.0379,1,284,15.500000,394.739990,5.490000,32.700001
55,0.013110,90.0,1.22,0,0.4030,7.249,21.900000,8.6966,5,226,17.900000,395.929993,4.810000,35.400002
54,0.013600,75.0,4.00,0,0.4100,5.888,47.599998,7.3197,3,469,21.100000,396.899994,14.800000,18.900000
195,0.013810,80.0,0.46,0,0.4220,7.875,32.000000,5.6484,4,255,14.400000,394.230011,2.970000,50.000000
57,0.014320,100.0,1.32,0,0.4110,6.816,40.500000,8.3248,5,256,15.100000,392.899994,3.950000,31.600000
194,0.014390,60.0,2.93,0,0.4010,6.604,18.799999,6.2196,1,265,15.600000,376.700012,4.380000,29.100000
348,0.015010,80.0,2.01,0,0.4350,6.635,29.700001,8.3440,4,280,17.000000,390.940002,5.990000,24.500000
283,0.015010,90.0,1.21,1,0.4010,7.923,24.799999,5.8850,1,198,13.600000,395.519989,3.160000,50.000000
256,0.015380,90.0,3.75,0,0.3940,7.454,34.200001,6.3361,3,244,15.900000,386.339996,3.110000,44.000000
353,0.017090,90.0,2.02,0,0.4100,6.728,36.099998,12.1265,5,187,17.000000,384.459992,4.500000,30.100000
200,0.017780,95.0,1.47,0,0.4030,7.135,13.900000,7.6534,3,402,17.000000,384.299988,4.450000,32.900002
347,0.018700,85.0,4.15,0,0.4290,6.516,27.700001,8.5353,4,351,17.900000,392.429993,6.360000,23.100000
64,0.019510,17.5,1.38,0,0.4161,7.104,59.500000,9.2229,3,216,18.600000,393.239990,8.050000,33.000000
286,0.019650,80.0,1.76,0,0.3850,6.230,31.500000,9.0892,1,241,18.200001,341.600006,12.930000,20.100000
204,0.020090,95.0,2.68,0,0.4161,8.034,31.900000,5.1180,4,224,14.700000,390.549988,2.880000,50.000000
56,0.020550,85.0,0.74,0,0.4100,6.383,35.700001,9.1876,2,313,17.299999,396.899994,5.770000,24.700001
202,0.021770,82.5,2.03,0,0.4150,7.610,15.700000,6.2700,2,348,14.700000,395.380005,3.110000,42.299999
193,0.021870,60.0,2.93,0,0.4010,6.800,9.900000,6.2196,1,265,15.600000,393.369995,5.030000,31.100000
342,0.024980,0.0,1.89,0,0.5180,6.540,59.700001,6.2669,1,422,15.900000,389.959992,8.650000,16.500000
343,0.025430,55.0,3.78,0,0.4840,6.696,56.400002,5.7321,5,370,17.600000,396.899994,7.180000,23.900000
2,0.027290,0.0,7.07,0,0.4690,7.185,61.099998,4.9671,2,242,17.799999,392.829987,4.030000,34.700001
1,0.027310,0.0,7.07,0,0.4690,6.421,78.900002,4.9671,2,242,17.799999,396.899994,9.140000,21.600000
39,0.027630,75.0,2.95,0,0.4280,6.595,21.799999,5.4011,3,252,18.299999,395.630005,4.320000,30.799999
93,0.028750,28.0,15.04,0,0.4640,6.211,28.900000,3.6659,4,270,18.200001,396.329987,6.210000,25.000000
349,0.028990,40.0,1.25,0,0.4290,6.939,34.500000,8.7921,1,335,19.700001,389.850006,5.890000,26.600000
5,0.029850,0.0,2.18,0,0.4580,6.430,58.700001,6.0622,3,222,18.700001,394.119995,5.210000,28.700001
337,0.030410,0.0,5.19,0,0.5150,5.895,59.599998,5.6150,5,224,20.200001,394.809998,10.560000,18.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,15.023400,0.0,18.10,0,0.6140,5.304,97.300003,2.1007,24,666,20.200001,349.480011,24.910000,12.000000
437,15.177200,0.0,18.10,0,0.7400,6.152,100.000000,1.9142,24,666,20.200001,9.320000,26.450001,8.700000
376,15.288000,0.0,18.10,0,0.6710,6.649,93.300003,1.3449,24,666,20.200001,363.019989,23.240000,13.900000
468,15.575700,0.0,18.10,0,0.5800,5.926,71.000000,2.9084,24,666,20.200001,368.739990,18.129999,19.100000
425,15.860300,0.0,18.10,0,0.6790,5.896,95.400002,1.9096,24,666,20.200001,7.680000,24.389999,8.300000
381,15.874400,0.0,18.10,0,0.6710,6.545,99.099998,1.5192,24,666,20.200001,396.899994,21.080000,10.900000
385,16.811800,0.0,18.10,0,0.7000,5.277,98.099998,1.4261,24,666,20.200001,396.899994,30.809999,7.200000
379,17.866699,0.0,18.10,0,0.6710,6.223,100.000000,1.3861,24,666,20.200001,393.739990,21.780001,10.200000
415,18.084600,0.0,18.10,0,0.6790,6.434,100.000000,1.8347,24,666,20.200001,27.250000,29.049999,7.200000
374,18.498199,0.0,18.10,0,0.6680,4.138,100.000000,1.1370,24,666,20.200001,396.899994,37.970001,13.800000
412,18.811001,0.0,18.10,0,0.5970,4.628,100.000000,1.5539,24,666,20.200001,28.790001,34.369999,17.900000
375,19.609100,0.0,18.10,0,0.6710,7.313,97.900002,1.3163,24,666,20.200001,396.899994,13.440000,15.000000
384,20.084900,0.0,18.10,0,0.7000,4.368,91.199997,1.4395,24,666,20.200001,285.829987,30.629999,8.800000
406,20.716200,0.0,18.10,0,0.6590,4.138,100.000000,1.1781,24,666,20.200001,370.220001,23.340000,11.900000
440,22.051100,0.0,18.10,0,0.7400,5.818,92.400002,1.8662,24,666,20.200001,391.450012,22.110001,10.500000
387,22.597099,0.0,18.10,0,0.7000,5.000,89.500000,1.5184,24,666,20.200001,396.899994,31.990000,7.400000
378,23.648199,0.0,18.10,0,0.6710,6.380,96.199997,1.3861,24,666,20.200001,396.899994,23.690001,13.100000
386,24.393801,0.0,18.10,0,0.7000,4.652,100.000000,1.4672,24,666,20.200001,396.899994,28.280001,10.500000
403,24.801701,0.0,18.10,0,0.6930,5.349,96.000000,1.7028,24,666,20.200001,396.899994,19.770000,8.300000
400,25.046101,0.0,18.10,0,0.6930,5.987,100.000000,1.5888,24,666,20.200001,396.899994,26.770000,5.600000
417,25.940599,0.0,18.10,0,0.6790,5.304,89.099998,1.6475,24,666,20.200001,127.360001,26.639999,10.400000
413,28.655800,0.0,18.10,0,0.5970,5.155,100.000000,1.5894,24,666,20.200001,210.970001,20.080000,16.299999
427,37.661900,0.0,18.10,0,0.6790,6.202,78.699997,1.8629,24,666,20.200001,18.820000,14.520000,10.900000
398,38.351799,0.0,18.10,0,0.6930,5.453,100.000000,1.4896,24,666,20.200001,396.899994,30.590000,5.000000
404,41.529202,0.0,18.10,0,0.6930,5.531,85.400002,1.6074,24,666,20.200001,329.459992,27.379999,8.500000
414,45.746101,0.0,18.10,0,0.6930,4.519,100.000000,1.6582,24,666,20.200001,88.269997,36.980000,7.000000
410,51.135799,0.0,18.10,0,0.5970,5.757,100.000000,1.4130,24,666,20.200001,2.600000,10.110000,15.000000
405,67.920799,0.0,18.10,0,0.6930,5.683,100.000000,1.4254,24,666,20.200001,384.970001,22.980000,5.000000
418,73.534103,0.0,18.10,0,0.6790,5.957,100.000000,1.8026,24,666,20.200001,16.450001,20.620001,8.800000
380,88.976196,0.0,18.10,0,0.6710,6.968,91.900002,1.4165,24,666,20.200001,396.899994,17.209999,10.400000

In [27]:
df2["DIS"] *= 1000

In [33]:
df2.loc[:, "DIS":].head()

           DIS  RAD  TAX         PT           B  LSTAT         MV
0  4090.000153    1  296  15.300000  396.899994   4.98  24.000000
1  4967.100143    2  242  17.799999  396.899994   9.14  21.600000
2  4967.100143    2  242  17.799999  392.829987   4.03  34.700001
3  6062.200069    3  222  18.700001  394.630005   2.94  33.400002
4  6062.200069    3  222  18.700001  396.899994   5.33  36.200001

Notice the change in the ```"DIS"``` column

We can use dtype to see the datatypes of each of the columns

In [34]:
for column in df2.columns:
    print(column, df2[column].dtype)

CRIM float64
ZN float64
INDUS float64
CHAS int64
NOX float64
RM float64
AGE float64
DIS float64
RAD int64
TAX int64
PT float64
B float64
LSTAT float64
MV float64

You can use the ```df.describe``` method to learn more about the dataframe and its columns

In [36]:
df2.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PT,B,LSTAT,MV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3795.042696,9.549407,408.237154,18.455534,356.674030,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148862,2105.710142,8.707259,168.537116,2.164946,91.294863,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1129.600048,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2100.174904,4.000000,279.000000,17.400000,375.377487,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3207.449913,5.000000,330.000000,19.050000,391.440002,11.360000,21.200001
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.074999,5188.425183,24.000000,666.000000,20.200001,396.225006,16.954999,25.000000
max,88.976196,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12126.500130,24.000000,711.000000,22.000000,396.899994,37.970001,50.000000

In [37]:
df2.shape

(506, 14)

# More about this dataset if you're curious:

https://www.cs.toronto.edu/~delve/data/boston/bostonDetail.html

Learn more about using panadas at the link below! It's a 10-minute tutorial!

https://pandas.pydata.org/pandas-docs/stable/10min.html