# What Are Collections? 
### Not the ones that stress you out at the start of term!

Collections are groups of other objects, such as ints or strings. They help you keep your code and/or data organized.

First example we'll use is called a list.

## Creating a list

listName = ["First Member", "Second Member", ... , "Last Member"]

In [14]:
alphabet = ['a','b','c','d','e']

Each member of the list, is called an "element"

You can find the length of the list

In [15]:
len(alphabet)

5

obviously that's not the whole alphabet :PP

## Indexing a list
Just like strings, you can index them! (And of course, 0 is the first element)

In [18]:
alphabet[1]

'b'

Slice em!

In [19]:
alphabet[2:4]

['c', 'd']

and reverse!

In [20]:
alphabet[::-1]

['e', 'd', 'c', 'b', 'a']

You can also set an element of a list by index

In [21]:
alphabet[0] = "This is replacing the letter 'a'"

## List methods

Here's also a couple extra methods you'll find handy!

### Appending to a list (adding to the end)

In [23]:
alphabet.append('appended string')

In [24]:
alphabet

["This is replacing the letter 'a'", 'b', 'c', 'd', 'e', 'appended string']

In [25]:
# Can I put ints in there?
alphabet.append(5)
alphabet

["This is replacing the letter 'a'", 'b', 'c', 'd', 'e', 'appended string', 5]

In [26]:
# Can I put floats in there?
alphabet.append(10.56)
alphabet

["This is replacing the letter 'a'",
 'b',
 'c',
 'd',
 'e',
 'appended string',
 5,
 10.56]

### Appending a list to another list ????

In [27]:
# Can I put other lists in there?
alphabet.append([1, 2, 3])
alphabet

["This is replacing the letter 'a'",
 'b',
 'c',
 'd',
 'e',
 'appended string',
 5,
 10.56,
 [1, 2, 3]]

Notice that above, the list is _inside_ the other list.

We can access it like this!

In [28]:
alphabet[-1]

[1, 2, 3]

In [29]:
alphabet[-1][0]

1

### List Concatenation!!

But what if we want to join the two lists togther ? How do we do that ? 


Say, for instance: My friend and I each have separate shopping lists, but I need to shop for both of us, can I merge the two shopping lists together ?

In [30]:
myShoppingList = ["Eggs", "Bread", "Heinz Baked Beans"] # (not sponsored)
friendsShoppingList = ["Bacon", "Meatzza", "Ham"]       # Why does my friend only eat meat? We will never know ...

First let's have a look at both lists!

In [31]:
myShoppingList

['Eggs', 'Bread', 'Heinz Baked Beans']

In [32]:
friendsShoppingList

['Bacon', 'Meatzza', 'Ham']

'add' them together!

In [33]:
myShoppingList + friendsShoppingList

['Eggs', 'Bread', 'Heinz Baked Beans', 'Bacon', 'Meatzza', 'Ham']

Objective complete!! We call this type of addition "List concatenation." And if you remember from last week, we concatenate strings with the same syntax:

In [35]:
"Hello " + "World"

'Hello World'

## Getting Variable Assignment Just Right

Back to the shopping list. Why hasn't my shopping list changed?

In [34]:
myShoppingList

['Eggs', 'Bread', 'Heinz Baked Beans']

Ans: I asked Python to add the lists together, but didn't ask Python to store the result anywhere. I can store the result using variable assignment

In [36]:
myShoppingList = myShoppingList + friendsShoppingList

In [37]:
myShoppingList

['Eggs', 'Bread', 'Heinz Baked Beans', 'Bacon', 'Meatzza', 'Ham']

## A note about list.append() and variable assignment

In [40]:
myShoppingList.append("Snacks for CodeSoc!")

Notice how the above doesn't return anything? You run the code, but myShoppingList isn't automatically printed to the screen!

Let's see what myShoppingList looks like now:

In [41]:
myShoppingList

['Eggs',
 'Bread',
 'Heinz Baked Beans',
 'Bacon',
 'Meatzza',
 'Ham',
 'Snacks for CodeSoc!']

### So it turns out list.append() actually *changes* the list, but does *not* return a new list

### If I try assigning a variable to the output of list.append(), I will get nothing !!! See Below

In [42]:
myShoppingList = myShoppingList.append("Snacks for CodeSoc!")

In [43]:
myShoppingList

In [44]:
type(myShoppingList)

NoneType

I get 'None', and now my shopping list is gone

### Lesson: A function can either:
### 1.) Change your Object         (as in the case of list.append() )

If your function *changes* the object, you don't have to save the result in a new variable.


### 2.) Create a new Object        (as in the case of "list1 + list2" )


If your function *creates* a new object, you *should* store the result in a new variable.

# Build your own list! (Exercise)

### Let's pretend you're using Python to keep a to-do list. Please go through this exercise because practice will help you improve most! :)

In [38]:
myList = []     # We have initialized an empty list

In [39]:
myList          # What does myList look like ?

[]

You need to read your lecture notes before your tutorial tomorrow. 

Append "Read lecture notes" to myList

You also haven't checked your emails all day. Add that to the list

Append "Read emails" to myList

Ahh, you just realized you have to revise for your study group later tonight!

Add "Revise for study group" to the *front* of the list. 

Hint: You can use list concatenation. Remember to store the result in myList

You also remember that you need to get a card for your mother's birthday tomorrow. You should get her a card.

Can you add "Buy card" after "Revise for study group" but before the rest?

You're finally done with revising for the study group.

Remove "Revise for study group" from the list

In [45]:
myList == ["Buy card", "Revise for study group", "Read lecture notes", "Read emails"]
# if I'm not mistaken, myList should look like this now :)

False

## More List Methods

In [47]:
myList = ['one', 'two', 'three']
myList

['one', 'two', 'three']

### list.pop(index) 

removes the list element at *index* and returns that list element

In [48]:
myList.pop(1)

'two'

In [49]:
myList

['one', 'three']

### list.insert(index, value) 

inserts value into array[index] position

In [50]:
myList.insert(1, 'insertion')

In [51]:
myList

['one', 'insertion', 'three']

## Do I have to memorize all these methods? 

### No. I don't even know them all. When you're looking for a method, just google what you're looking for.

### Example: "How to insert into Python list"

### One of the top results: https://www.programiz.com/python-programming/methods/list/insert



# ------------------------------------------------------------------------
# New Section!
# ------------------------------------------------------------------------


# Making a list from a string!

You can also make a list out of a string using str.split(sep = 'separator')

In [13]:
# triple quotes are a multi-line string!

BeeMovieScript = """According to all known laws
of aviation,

  
there is no way a bee
should be able to fly.

  
Its wings are too small to get
its fat little body off the ground.

  
The bee, of course, flies anyway"""

BeeMovieScript.split()   # Uses whitespace by default (any of space, tab, enter, etc.)

['According',
 'to',
 'all',
 'known',
 'laws',
 'of',
 'aviation,',
 'there',
 'is',
 'no',
 'way',
 'a',
 'bee',
 'should',
 'be',
 'able',
 'to',
 'fly.',
 'Its',
 'wings',
 'are',
 'too',
 'small',
 'to',
 'get',
 'its',
 'fat',
 'little',
 'body',
 'off',
 'the',
 'ground.',
 'The',
 'bee,',
 'of',
 'course,',
 'flies',
 'anyway']

And of course you can customize the separator!

In [14]:
BeeMovieScript.split(sep = '.')

['According to all known laws\nof aviation,\n\n  \nthere is no way a bee\nshould be able to fly',
 '\n\n  \nIts wings are too small to get\nits fat little body off the ground',
 '\n\n  \nThe bee, of course, flies anyway']

### Passing a string into a function

Easy as that!

In [1]:
print(BeeMovieScript)

NameError: name 'BeeMovieScript' is not defined

### Passing each element of a string into a function
That sure is hard to read. Keep in mind that if any function takes multiple arguments, you can pass each _element_ of the list using *

In [15]:
print(*BeeMovieScript.split(sep = '.'), sep = '-------------------------')

According to all known laws
of aviation,


there is no way a bee
should be able to fly-------------------------


Its wings are too small to get
its fat little body off the ground-------------------------


The bee, of course, flies anyway

You can also deo the opposite with the str.join(list) method.

In [16]:
script_list = BeeMovieScript.split()
questioningScript = '??\n'.join(script_list)
print(questioningScript)

According??
to??
all??
known??
laws??
of??
aviation,??
there??
is??
no??
way??
a??
bee??
should??
be??
able??
to??
fly.??
Its??
wings??
are??
too??
small??
to??
get??
its??
fat??
little??
body??
off??
the??
ground.??
The??
bee,??
of??
course,??
flies??
anyway

## Making a list of integers!

And if you want a list of numbers, try using range, which works almost just like indexing the number line!

In [17]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
list(range(10,25))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [19]:
list(range(100,200,12))

[100, 112, 124, 136, 148, 160, 172, 184, 196]

In [20]:
list(range(200,100,-12))

[200, 188, 176, 164, 152, 140, 128, 116, 104]

Always repeat to yourself the words, "Start, stop, step!"

## Challenges!!!!

Don't worry too much about the code below. articleString is a string that represents the content of the wikipedia article on the United Kingdom. A small piece of it will the printed below

Print all the parts of the article that are in quotes. It might be helpful to look at the wikipedia article here:
https://en.wikipedia.org/wiki/United_Kingdom

Hint: You might want to use the list.split() function

In [68]:
import re
import urllib.request
from bs4 import BeautifulSoup
 
html = urllib.request.urlopen('https://en.wikipedia.org/wiki/United_Kingdom')
soup = BeautifulSoup(html)
data = soup.findAll(text=True)
 
def visible(element):
    if element.parent.name in ['style', 'script', '[document]', 'head', 'title']:
        return False
    elif re.match('<!--.*-->', str(element.encode('utf-8'))):
        return False
    return True
 
result = filter(visible, data)
 
articleString = ''.join(list(result))
print(articleString[2870:4000])

/Applications/anaconda3/lib/python3.6/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file /Applications/anaconda3/lib/python3.6/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

 9]
The United Kingdom of Great Britain and Northern Ireland, commonly known as the United Kingdom (UK)[14] or Britain,[note 10] is a sovereign country lying off the north-western coast of the European mainland. The United Kingdom includes the island of Great Britain, the north-eastern part of the island of Ireland and many smaller islands.[15] Northern Ireland is the only part of the United Kingdom that shares a land border with another sovereign state‍—‌the Republic of Ireland. Apart from this land border, the United Kingdom is surrounded by the Atlantic Ocean, with the North Sea to its east, the English Channel to its south and the Celtic Sea to its south-south-west, giving it the 12th-longest coastline in the world. The Irish Sea lies between Great Britain and Ireland. With an area of 242,500 square kilometres (93,600 sq mi), the United Kingdom is the 78th-largest sovereign state in the world. It is also the 22nd-most populous country, with an estimated 66.0 million inhabitants in 2017.
The sovereign state  is a constitutional monarchy with a parliamentary democracy.[16][17] The monarch is Queen Elizabeth II,

In [52]:
# Your code Below

Answer:

In [23]:
print(*articleString.split(sep = '"')[1:-1:2], sep = '\n')

UK
UK
United Kingdom
God Save the Queen
very high
United into One Kingdom by the Name of Great Britain
Kingdom of Great Britain
United Kingdom of Great Britain
One Kingdom
United Kingdom



# ------------------------------------------------------------------------
# New Section!
# ------------------------------------------------------------------------


# Dictionaries

Dictionaries are another form of collection. The dictionary takes some "key" and outputs a "value". Simple!

In [ ]:
dictionary = {
    'a' : 'A',        # 'a' is a key, 'A' is a value
    'b' : 'B'
}

In [ ]:
dictionary['b']

You can use them to keep similar variables together

In [70]:
headsOfHouses = {
  "All Souls": "Warden John Vickers",
  "Balliol": "Master Helen Ghosh",
  "Brasenose": "Principal John Bowers",
  "Christ Church": "Dean Martyn Percy",
  "Corpus Christi": "President Steven Cowley",
  "Exeter": "Rector Rick Trainor",
  "Green Templeton": "Principal Denise Lievesley",
  "Harris Manchester": "Principal Ralph Waller",
  "Hertford": "Principal Will Hutton",
  "Jesus College": "Principal Nigel Shadbolt",
  "Keble": "Warden Jonathan Phillips",
  "Kellogg": "President Jonathan Michie",
  "Lady Margaret Hall": "Principal Alan Rusbridger",
  "Linacre": "Principal Nick Brown",
  "Lincoln": "Rector Henry Woudhuysen",
  "Magdalen": "President David Clary",
  "Mansfield": "Principal Helena Kennedy, Baroness Kennedy of The Shaws",
  "Merton": "Warden Martin J. Taylor",
  "New College": "Warden Miles Young",
  "Nuffield": "Warden Andrew Dilnot",
  "Oriel": "Provost Moira Wallace",
  "Pembroke": "Master Lynne Brindley",
  "Queen's": "Provost Paul Madden",
  "St Anne's": "Principal Helen King",
  "St Antony's": "Warden Roger Goodman",
  "St Catherine's": "Master Roger Ainsworth",
  "St Cross": "Master Carole Souter",
  "St Edmund Hall": "Principal Keith Gull",
  "St Hilda's": "Principal Gordon Duff",
  "St Hugh's": "Principal Elish Angiolini",
  "St John's": "President Margaret Snowling",
  "St Peter's": "Master Mark Damazer",
  "Somerville": "Principal Janet Royall, Baroness Royall of Blaisdon",
  "Trinity": "President Hilary Boulding",
  "University": "Master Ivor Crewe",
  "Wadham": "Warden Ken Macdonald, Lord Macdonald of River Glaven",
  "Wolfson": "President Tim Hitchens",
  "Worcester": "Provost Sir Jonathan Bate"
}

In [71]:
# Lookup your college with headsOfHouses !
print(headsOfHouses.keys())

dict_keys(['All Souls', 'Balliol', 'Brasenose', 'Christ Church', 'Corpus Christi', 'Exeter', 'Green Templeton', 'Harris Manchester', 'Hertford', 'Jesus College', 'Keble', 'Kellogg', 'Lady Margaret Hall', 'Linacre', 'Lincoln', 'Magdalen', 'Mansfield', 'Merton', 'New College', 'Nuffield', 'Oriel', 'Pembroke', "Queen's", "St Anne's", "St Antony's", "St Catherine's", 'St Cross', 'St Edmund Hall', "St Hilda's", "St Hugh's", "St John's", "St Peter's", 'Somerville', 'Trinity', 'University', 'Wadham', 'Wolfson', 'Worcester'])

In [72]:
collegeName = "" # Enter your college here!
headsOfHouses[collegeName]

KeyError: ''

Keep in mind that dictionaries can only have one "value" for every "key"

This is allowed!!<img src = "./Image1.png">

This is not!!<img src = "./Image2.png">

where _X_ represents the keys and _Y_ represents the values

### Dictionaries are not ordered

You should also note that unlike lists, dictionaries are not ordered, so you can't index them with integers or slice them

In [73]:
headsOfHouses[1]

KeyError: 1

In [74]:
headsOfHouses["Oriel":"Wadham"]

TypeError: unhashable type: 'slice'

In [75]:
headsOfHouses.keys()

dict_keys(['All Souls', 'Balliol', 'Brasenose', 'Christ Church', 'Corpus Christi', 'Exeter', 'Green Templeton', 'Harris Manchester', 'Hertford', 'Jesus College', 'Keble', 'Kellogg', 'Lady Margaret Hall', 'Linacre', 'Lincoln', 'Magdalen', 'Mansfield', 'Merton', 'New College', 'Nuffield', 'Oriel', 'Pembroke', "Queen's", "St Anne's", "St Antony's", "St Catherine's", 'St Cross', 'St Edmund Hall', "St Hilda's", "St Hugh's", "St John's", "St Peter's", 'Somerville', 'Trinity', 'University', 'Wadham', 'Wolfson', 'Worcester'])

In [76]:
headsOfHouses.values()

dict_values(['Warden John Vickers', 'Master Helen Ghosh', 'Principal John Bowers', 'Dean Martyn Percy', 'President Steven Cowley', 'Rector Rick Trainor', 'Principal Denise Lievesley', 'Principal Ralph Waller', 'Principal Will Hutton', 'Principal Nigel Shadbolt', 'Warden Jonathan Phillips', 'President Jonathan Michie', 'Principal Alan Rusbridger', 'Principal Nick Brown', 'Rector Henry Woudhuysen', 'President David Clary', 'Principal Helena Kennedy, Baroness Kennedy of The Shaws', 'Warden Martin J. Taylor', 'Warden Miles Young', 'Warden Andrew Dilnot', 'Provost Moira Wallace', 'Master Lynne Brindley', 'Provost Paul Madden', 'Principal Helen King', 'Warden Roger Goodman', 'Master Roger Ainsworth', 'Master Carole Souter', 'Principal Keith Gull', 'Principal Gordon Duff', 'Principal Elish Angiolini', 'President Margaret Snowling', 'Master Mark Damazer', 'Principal Janet Royall, Baroness Royall of Blaisdon', 'President Hilary Boulding', 'Master Ivor Crewe', 'Warden Ken Macdonald, Lord Macdonald of River Glaven', 'President Tim Hitchens', 'Provost Sir Jonathan Bate'])

### Setting items

Once we have made a dictionary, we can set elements in the dictionary to particular values.


Say a college was created with its own head of house:

In [77]:
headsOfHouses['Created College'] = "Sir Can'tComeUpWithANameRightNow"

In [78]:
headsOfHouses.keys()

dict_keys(['All Souls', 'Balliol', 'Brasenose', 'Christ Church', 'Corpus Christi', 'Exeter', 'Green Templeton', 'Harris Manchester', 'Hertford', 'Jesus College', 'Keble', 'Kellogg', 'Lady Margaret Hall', 'Linacre', 'Lincoln', 'Magdalen', 'Mansfield', 'Merton', 'New College', 'Nuffield', 'Oriel', 'Pembroke', "Queen's", "St Anne's", "St Antony's", "St Catherine's", 'St Cross', 'St Edmund Hall', "St Hilda's", "St Hugh's", "St John's", "St Peter's", 'Somerville', 'Trinity', 'University', 'Wadham', 'Wolfson', 'Worcester', 'Created College'])

In [79]:
headsOfHouses['Created College']

"Sir Can'tComeUpWithANameRightNow"

We can also overrwite the name given to the Head of House

In [80]:
headsOfHouses['Created College'] = 'NewName'

Remember, the dictionary cannot store two values for a key! It simply overrwites the existing value.

In this case, "Sir Can'tComeUpWithANameRightNow" will not appear in the set of headsOfHouses:

In [81]:
headsOfHouses.values()

dict_values(['Warden John Vickers', 'Master Helen Ghosh', 'Principal John Bowers', 'Dean Martyn Percy', 'President Steven Cowley', 'Rector Rick Trainor', 'Principal Denise Lievesley', 'Principal Ralph Waller', 'Principal Will Hutton', 'Principal Nigel Shadbolt', 'Warden Jonathan Phillips', 'President Jonathan Michie', 'Principal Alan Rusbridger', 'Principal Nick Brown', 'Rector Henry Woudhuysen', 'President David Clary', 'Principal Helena Kennedy, Baroness Kennedy of The Shaws', 'Warden Martin J. Taylor', 'Warden Miles Young', 'Warden Andrew Dilnot', 'Provost Moira Wallace', 'Master Lynne Brindley', 'Provost Paul Madden', 'Principal Helen King', 'Warden Roger Goodman', 'Master Roger Ainsworth', 'Master Carole Souter', 'Principal Keith Gull', 'Principal Gordon Duff', 'Principal Elish Angiolini', 'President Margaret Snowling', 'Master Mark Damazer', 'Principal Janet Royall, Baroness Royall of Blaisdon', 'President Hilary Boulding', 'Master Ivor Crewe', 'Warden Ken Macdonald, Lord Macdonald of River Glaven', 'President Tim Hitchens', 'Provost Sir Jonathan Bate', 'NewName'])

we can also pass a dictionary into a function by using two stars:

In [10]:
insertions = {
    "Name" : "William Hartemink",
    "College" : "Exeter College",
    "Society" : "CodeSoc"
    ""
}

template = """Hi {Name},

Blah Blah formalities.

I was wondering if {Society} were interested in co-hosting a hack-a-thon on AI Safety this term. 

We are currently looking for a venue and thought maybe you'd be able to book one in {College}?

Blah Blah formalities.

Regards,
MyName

My Society
"""

In [11]:
print(template)

Hi {Name},

Blah Blah formalities.

I was wondering if {Society} were interested in co-hosting a hack-a-thon on AI Safety this term.

We are currently looking for a venue and thought maybe you'd be able to book one in {College}?

Blah Blah formalities.

Regards,
MyName

My Society

In [12]:
print(template.format(**insertions))

Hi William Hartemink,

Blah Blah formalities.

I was wondering if CodeSoc were interested in co-hosting a hack-a-thon on AI Safety this term.

We are currently looking for a venue and thought maybe you'd be able to book one in Exeter College?

Blah Blah formalities.

Regards,
MyName

My Society

# Sounds like you might be able to use this feature to write customized emails to a large group of people... 🤔🤔🤔